
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header class="header">
        <a href="./index.html" class="logo">Dirección General de Catastro</a>
        @*<img src="https://pbs.twimg.com/profile_images/1083007523983163394/ahsIgsyK_400x400.jpg" alt="logo">*@
        <img src="~/Imagen/images.png" alt="logo">
        <a href="./index.html" class="logo">Provincia de Tucumán</a>
    </header>

    <form class="form" action="@Url.Action("Registrar", "Acceso")" method="post">
        <h1 class="title">Registrarse</h1>
        <label>
            <i class="fa-solid fa-user"></i>
            <input name="Nombre" placeholder="nombre" type="text" id="nombre" required>
        </label>

        <label>
            <i class="fa-solid fa-passport"></i>
            <input name="Dni" placeholder="dni" type="number" id="dni" required>
        </label>

        <label>
            <i class="fa-solid fa-address-card"></i>
            <input name="Matricula" placeholder="matricula" type="number" id="matricula" required>
        </label>

        <label>
            <i class="fa-solid fa-phone"></i>
            <input name="Telefono" placeholder="teléfono" type="tel" id="telefono" required>
        </label>

        <label>
            <i class="fa-solid fa-envelope"></i>
            <input name="Correo" placeholder="correo" type="email" id="correo" required>
        </label>

        <label>
            <i class="fa-solid fa-lock"></i>
            <input name="Clave" placeholder="contraseña" type="password" id="clave" required>
        </label>

        <label>
            <i class="fa-solid fa-lock"></i>
            <input name="ConfirmarClave" placeholder="confirmar contraseña" type="password" id="confirmarClave" required>
        </label>

        

        <button id="button">Registrarse</button>
    </form>




    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="/JS/mysql.js"></script>
</body>
</html>
